{% extends 'flatpages/default.html' %} {% block title %} Posts {% endblock title %} {% block content %}

<table style="height: 135px; margin-left: auto; margin-right: auto;" width="615">
<tbody>
<tr>
<td style="width: 605px; text-align: center;"><strong>{{ Post.author }}</strong></td>
</tr>
<tr style="text-align: center;">
<td style="width: 605px;"><em>{{ Post.title }}</em></td>
</tr>
<tr style="text-align: center;">
<td style="width: 605px;">{{ Post.text }}</td>
</tr>
</tbody>
</table>
  {% endblock content %}