{% extends 'flatpages/default.html' %}

{% block title %}
Products
{% endblock title %}

{% block content %}
   <h1>Все товары</h1>
   <hr>
   {% if products %}
       <table>
           <tr>
               <td>Автор</td>
               <td>Название</td>
               <td>Описание</td>

           </tr>


           {% for product in products %}
           <tr>

               <td>{{ article.author }}</td>
               <td>{{ article.title }}</td>
               <td>{{ article.text }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Товаров нет!</h2>
   {% endif %}
{% endblock content %}